<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Cấp quyền truy cập Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cktimviec"
        tools:targetApi="31">

        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <!-- Thiết lập MainActivity làm màn hình đầu tiên -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"></activity>
        <activity android:name=".ChatActivity"></activity>
        <activity android:name=".SearchActivity"></activity>
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".AccountActivity"></activity>
        <activity android:name=".JobDetailActivity"></activity>
        <activity android:name=".CreateCVActivity"></activity>
        <activity android:name=".nhatuyendung.EmployerActivity" android:exported="true" />
        <activity android:name=".nhatuyendung.ApplicantListActivity" android:exported="true" />
        <activity android:name=".nhatuyendung.EmployerMainActivity" android:exported="true" />
        <activity android:name=".nhatuyendung.ViewApplicantsActivity" android:exported="true" />
        <activity android:name=".nhatuyendung.JobDetailActivity" android:exported="true" />

        <activity android:name=".login.RegisterActivity" android:exported="true" />

        <!-- Khai báo FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.cktimviec.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
    </provider>


</application>
</manifest>
